@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Slabo+13px);

body {
  background-color: #d6cfc3;
  margin: 0;
  color: #2e2d36;
  font-family:'Slabo 13px', serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#top-bar {
  width: 100%;
  height: 7vh;
  background-color: #264159;
}

button {
  margin: 1vh 1vw;
  height: 5vh;
  background-color: #3c96ba;
  border: 0;
  font-size: 3vh;
  font-family: 'Muli', sans-serif;

}

button:hover {
  background-color: #5cb6da;
}

button#submit-out {
  position: relative;
  margin: 0;
  bottom: -7vmin;
  left: 50vmin;
  height: auto;
  font-size: 3vmin;
}

.instructions {
  position: relative;
  float: right;
  font-size: 3vh;
  color: #c0d65e;
  background-color: #264159;
  padding: 1vmin;
}

.id-field {
  background-color: rgba(214, 207, 195, 0.5);
  padding-left: 1vw;
  float:right;
  font-size: 3vh;
}

ul#students {
  width:100%;
  height: 93vh;
  margin: 0;
  padding: 0;
  clear: right;
  overflow-y: auto;
  text-align: center;
}
ul#students li {
  position: relative;
  font-size: 3vmin;
  list-style-type: none;
  margin-right:auto;
  margin-left: auto;
  margin: 2vh auto;
  padding: 1vh 1vw;
  width: 75vmin;
  background-color: #3c96ba;
}

ul#students li.selected {
  background-color: #c0d65e;
}
